
body {
    color: rgb(81, 48, 21);
    background: rgb(218, 210, 192);
    margin: 0px;
    font-size: 20px;
    padding-bottom: 50px; /* Adds blank space at the bottom of the page */
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 19px
}
h3 {
    font-family: Arial, sans-serif; /* Add font-family */
    font-size: 17px;
    left: 75px;
    right: 1075px; 
    top: 820px;
}
h4 {
    font-family: Arial, sans-serif; /* Add font-family */
    font-size: 17px;
    position: absolute;
    left: 550px;
    right: 590px;
    top: 820px;
}
h5 {
    font-family: Arial, sans-serif; /* Add font-family */
    font-size: 17px;
    position: absolute;
    left: 980px;
    right: 100px;
    top: 820px; 
}
p {
	font: 17px/19px Lucida Console, Monospace;
	text-align: justify;
	margin-top: 0;
    top: 100px;
	left: 0px;
	margin-left: 50px;
	margin-right: 60px;
	}

#corner1 {
    border-style: solid;
    border-radius: 10px;
    border-width: thick;
    border-color: rgb(126, 105, 83);
    border-spacing: 5px;
    padding: 10px 10px;
    bottom: 0px;
}
.indeximage {
    position: absolute;
    margin-left: 1050px;
    margin-right: 0px;
}

.resized-image {
    width: 300px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

/* .tv {
    position: absolute;
    left: 150px;
    right: 900px;   
}
.book {
    position: absolute;
    left: 575px;
    right: 575px;
}
.phone {
    position: absolute;
    left: 915px;
    right: 135px;
} */

.tv, .book, .phone {
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 30%; 
    vertical-align: top; 
}


.tv h2, .book h2, .phone h2 {
    font-size: 25px; 
    margin-bottom: 10px; 
}


.tv p, .book p, .phone p {
    font-size: 14px; 
    margin-top: 0;
}
